---
name: Merge PR Workflow
'on':
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  react-testing:
    name: react-testing
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
      - name: React code testing
        uses: ./.github/actions/react-testing
  react-code-coverage:
    name: react-code-coverage
    runs-on: ubuntu-latest
    needs: react-testing
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
      - name: React code test coverage
        uses: ./.github/actions/react-code-coverage
  react-deployment:
    name: react-deployment
    # needs: dockerfile-linting
    runs-on: ubuntu-latest
    needs: react-code-coverage
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
#      - name: React deployment
#        uses: ./.github/actions/react-deployment
  deploy-sac-hashed-images:
    name: deploy-sac-hashed-images
    needs: react-deployment
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
        with:
          ref: sac01
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy SaC Hashed Images
        shell: bash
        run: |
          echo "fetching the sac hashed images from the images folder of the master branch into the sac01 branch"
          git checkout remotes/origin/master -- images
      - name: Commit changes
        uses: EndBug/add-and-commit@v4
        with:
          author_name: "tom-halpin"
          author_email: "tom_halpin@hotmail.com"
          message: "Deployed SaC Hashed Images"
          add: "-all"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}